body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a; /* Dark background color */
  color: #fafafa;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.profile-section {
  margin-bottom: 20px;
}

.profile-image {
  max-width: 30%;
  border-radius: 50%;
}

h1 {
  font-size: 2em;
  margin: 10px 0;
}

.education {
  font-style: italic;
  margin-bottom: 5px;
}

.social-media-links a {
  color: #fafafa;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.social-media-links i {
  margin-right: 8px;
  width: 25px; 
  text-align: center;
}

.social-media-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .profile-image {
    max-width: 35%;
  }

  h1 {
    font-size: 1.5em;
  }
}
